In [2]:
import re, pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

text = 'sample_1999.zip'
found = re.search(r'sample_(.+?).zip', text).group(1)
print(found)

1999

In [3]:
# downloads_filePath = "downloads/historical_data1_Q12005.txt" 
# downloads_filePath = "downloads/sample_svcg_1999.txt"
# cleaned_filePath = "cleaned/cleaned_historical_data1_Q12005.csv"

#   # LOAD AND ADD HEADERS TO THE PERFORMANCE DATA
# chunk = 500000
# csv_database = create_engine('sqlite:///csv_database.db')
# # i = 0
# # j = 1  
# # for performance in pd.read_csv(downloads_filePath, sep="|", header = None, chunksize = chunk, iterator = True, names = ["LOAN SEQUENCE NUMBER", \
# # "MONTHLY REPORTING PERIOD", \
# # "CURRENT ACTUAL UPB", \
# # "CURRENT LOAN DELINQUENCY STATUS",\
# # "LOAN AGE",\
# # "REMAINING MONTHS TO LEGAL MATURITY",\
# # "REPURCHASE FLAG",\
# # "MODIFICATION FLAG",\
# # "ZERO BALANCE CODE",\
# # "ZERO BALANCE EFFECTIVE DATE",\
# # "CURRENT INTEREST RATE",\
# # "CURRENT DEFERRED UPB",\
# # "DUE DATE OF LAST PAID INSTALLMENT",\
# # "MI RECOVERIES",\
# # "NET SALES PROCEEDS",\
# # "NON MI RECOVERIES",\
# # "EXPENSES",\
# # "LEGAL COSTS",\
# # "MAINTENANCE AND PRESERVATION COSTS",\
# # "TAXES AND INSURANCE",\
# # "MISCELLANEOUS EXPENSES",\
# # "ACTUAL LOSS CALCULATION",\
# # "MODIFICATION COST"\
# #      ]):

# #     performance.index += j
# #     i+=1
# #     performance.to_sql('table', csv_database, if_exists='append')
# #     j = performance.index[-1] + 1
# #     print(performance.shape)
# # # # CLEAN THE PERFORMANCE FILE
# # #     print(performance.shape)
# # # # NEEDS A CONDITIONAL FUNCTION FOR YEAR 2000
# # # # performance.index += j
# # # # i+=1


# # #     try:
# # #         perf = pd.concat([perf, performance])
# # #     except:
# # #         perf = performance
    
# # # print (perf.shape)
# # # print(perf[0:4])
# # foo_col = sqlalchemy.sql.column('LOAN SEQUENCE NUMBER')
# # df = sqlalchemy.sql.select(['*']).where(foo_col == 'F199Q1000012')

# # conn = csv_database.connect()
# # result = conn.execute("select * from table")
# df = pd.read_sql_query('SELECT `LOAN SEQUENCE NUMBER`, count(*) '
#                        'FROM `table` group by (`LOAN SEQUENCE NUMBER`) ', csv_database)

# print(df.shape)

In [7]:
df = pd.read_csv("cleaned_sample_orig_1999_test.csv")
print (df)

df = None

       CREDIT SCORE  FIRST PAYMENT DATE FIRST TIME HOMEBUYER FLAG  \
0               799              199903                         N
1               635              200212                         N
2               787              199905                         N
3               726              199904                         N
4               748              199905                         X
5               720              199905                         X
6               695              199905                         X
7               703              199905                         N
8               737              199903                         N
9               594              199903                         X
10              683              199905                         X
11              775              199905                         Y
12              749              199905                         N
13              782              199911                         N
14              702              199905                         N
15              767              199905                         N
16              749              199905                         Y
17              754              199905                         N
18              698              199903                         N
19              770              199905                         Y
20              724              199905                         N
21              698              199905                         N
22              800              199904                         Y
23              703              199904                         N
24              787              199905                         N
25              667              199904                         N
26              745              199903                         N
27              748              199905                         N
28              648              200005                         N
29              792              199905                         N
...             ...                 ...                       ...
49608           655              200002                         X
49609           704              200002                         X
49610           762              200411                         N
49611           804              200309                         N
49612           660              200308                         N
49613           809              200310                         N
49614           720              199912                         N
49615           649              199912                         N
49616           698              200210                         N
49617           769              200001                         Y
49618           694              199912                         N
49619           686              200306                         N
49620           790              200308                         N
49621           688              200002                         N
49622           798              200002                         N
49623           817              200001                         Y
49624           759              199912                         N
49625           703              200001                         N
49626           794              200002                         N
49627           803              200002                         N
49628           759              200002                         N
49629           803              200002                         N
49630           788              200001                         N
49631           684              200001                         N
49632           668              200001                         Y
49633           767              200001                         Y
49634           789              200001                         Y
49635           679              200002                         N
49636           698              200002                         Y
49637           658              200001                         N

       MATURITY DATE  \
0             202901
1             202904
2             202904
3             202903
4             202904
5             202904
6             202904
7             202904
8             202902
9             202902
10            202904
11            202904
12            202904
13            202910
14            202904
15            202904
16            202904
17            202904
18            202902
19            202904
20            202904
21            202904
22            202903
23            202903
24            202904
25            202903
26            202902
27            202904
28            202904
29            202904
...              ...
49608         203001
49609         203001
49610         202911
49611         202909
49612         203002
49613         202912
49614         202911
49615         202911
49616         203006
49617         202912
49618         202911
49619         202912
49620         202912
49621         203001
49622         203001
49623         202912
49624         202911
49625         202912
49626         203001
49627         203001
49628         203001
49629         203001
49630         202912
49631         202912
49632         202912
49633         202912
49634         202912
49635         203001
49636         203001
49637         202912

       METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION  \
0                                                37620.0
1                                                10420.0
2                                                12060.0
3                                                28140.0
4                                                17140.0
5                                                42044.0
6                                                42044.0
7                                                40140.0
8                                                42044.0
9                                                41620.0
10                                               31084.0
11                                               13644.0
12                                               11460.0
13                                               10900.0
14                                               48424.0
15                                               49740.0
16                                               35644.0
17                                               15764.0
18                                               20764.0
19                                               40900.0
20                                               33460.0
21                                                   0.0
22                                                   0.0
23                                               20764.0
24                                               25540.0
25                                               42644.0
26                                               25540.0
27                                               25540.0
28                                               34940.0
29                                               13644.0
...                                                  ...
49608                                                0.0
49609                                            33700.0
49610                                            17460.0
49611                                            33124.0
49612                                            45300.0
49613                                            48424.0
49614                                            28140.0
49615                                                0.0
49616                                            45300.0
49617                                            48864.0
49618                                                0.0
49619                                            35644.0
49620                                            16740.0
49621                                            35644.0
49622                                            15380.0
49623                                            15380.0
49624                                            15380.0
49625                                            15380.0
49626                                                0.0
49627                                            15380.0
49628                                            10580.0
49629                                            10580.0
49630                                            35004.0
49631                                            35644.0
49632                                            29820.0
49633                                            15540.0
49634                                                0.0
49635                                            29404.0
49636                                            37964.0
49637                                                0.0

       MORTGAGE INSURANCE PERCENTAGE (MI %)  NUMBER OF UNITS OCCUPANCY STATUS  \
0                                         0                1                O
1                                         0                1                O
2                                       999                1                O
3                                         0                1                O
4                                       999                1                O
5                                       999                1                I
6                                         0                1                O
7                                       999                1                O
8                                       999                1                O
9                                         0                1                O
10                                        0                1                O
11                                      999                1                O
12                                        0                1                O
13                                        0                1                O
14                                        0                1                O
15                                        0                1                O
16                                       30                1                O
17                                      999                2                O
18                                       30                1                O
19                                       25                1                O
20                                       30                1                O
21                                      999                1                O
22                                       30                1                O
23                                        0                1                O
24                                        0                1                O
25                                        0                1                O
26                                        0                1                O
27                                        0                1                O
28                                       25                1                O
29                                        0                1                O
...                                     ...              ...              ...
49608                                     0                1                O
49609                                    25                1                I
49610                                     0                1                O
49611                                     0                1                O
49612                                     0                1                O
49613                                     0                1                I
49614                                     0                4                I
49615                                    30                1                O
49616                                    12                1                O
49617                                     0                1                O
49618                                     0                1                O
49619                                     0                1                O
49620                                     0                1                O
49621                                     0                2                O
49622                                     0                1                O
49623                                     0                1                O
49624                                    35                1                O
49625                                     0                1                O
49626                                    35                1                O
49627                                     0                1                O
49628                                     0                1                O
49629                                     0                1                O
49630                                     0                1                O
49631                                     0                1                O
49632                                    35                1                O
49633                                     0                1                O
49634                                    30                1                O
49635                                    18                1                O
49636                                    16                1                O
49637                                    12                1                O

       ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)  \
0                                          70
1                                          76
2                                          80
3                                          80
4                                          80
5                                          24
6                                          40
7                                          68
8                                          67
9                                          75
10                                         75
11                                         80
12                                         40
13                                         79
14                                         73
15                                         80
16                                         95
17                                         80
18                                         95
19                                         90
20                                         95
21                                         72
22                                         95
23                                         80
24                                         80
25                                         52
26                                         73
27                                         80
28                                         86
29                                         49
...                                       ...
49608                                      75
49609                                      90
49610                                      76
49611                                      49
49612                                      73
49613                                      73
49614                                      80
49615                                      94
49616                                      81
49617                                      92
49618                                      97
49619                                      48
49620                                      64
49621                                      80
49622                                      90
49623                                      94
49624                                      95
49625                                      95
49626                                      93
49627                                      80
49628                                      65
49629                                      89
49630                                      32
49631                                      56
49632                                      97
49633                                      80
49634                                      92
49635                                      97
49636                                      95
49637                                      87

      ORIGINAL DEBT-TO-INCOME (DTI) RATIO         ...          \
0                                      25         ...
1                                      21         ...
2                                      18         ...
3                                      37         ...
4                                      28         ...
5                                      11         ...
6                                       6         ...
7                                      22         ...
8                                      35         ...
9                                      46         ...
10                                     43         ...
11                                     28         ...
12                                     23         ...
13                                     23         ...
14                                     34         ...
15                                     35         ...
16                                     36         ...
17                                     14         ...
18                                     37         ...
19                                     25         ...
20                                     39         ...
21                                     30         ...
22                                     31         ...
23                                     36         ...
24                                     26         ...
25                                     18         ...
26                                     34         ...
27                                     22         ...
28                                     31         ...
29                                     17         ...
...                                   ...         ...
49608                                 NaN         ...
49609                                 NaN         ...
49610                                  31         ...
49611                                  20         ...
49612                                  26         ...
49613                                  24         ...
49614                                  40         ...
49615                                  33         ...
49616                                  32         ...
49617                                  33         ...
49618                                 NaN         ...
49619                                 NaN         ...
49620                                             ...
49621                                  34         ...
49622                                  43         ...
49623                                  36         ...
49624                                  39         ...
49625                                  36         ...
49626                                  44         ...
49627                                  50         ...
49628                                  43         ...
49629                                  37         ...
49630                                  32         ...
49631                                  40         ...
49632                                  50         ...
49633                                  36         ...
49634                                  36         ...
49635                                  37         ...
49636                                  39         ...