In [4]:
import pandas as pd
performance = pd.read_csv("G://sample_svcg_1999.txt",sep="|", header=None,low_memory=False, 
               names = ["LOAN SEQUENCE NUMBER", 
                        "MONTHLY REPORTING PERIOD", 
                        "CURRENT ACTUAL UPB", 
                        "CURRENT LOAN DELINQUENCY STATUS",
                        "LOAN AGE",
                        "REMAINING MONTHS TO LEGAL MATURITY",
                        "REPURCHASE FLAG",
                        "MODIFICATION FLAG",
                        "ZERO BALANCE CODE",
                        "ZERO BALANCE EFFECTIVE DATE",
                        "CURRENT INTEREST RATE",
                        "CURRENT DEFERRED UPB",
                        "DUE DATE OF LAST PAID INSTALLMENT",
                        "MI RECOVERIES",
                        "NET SALES PROCEEDS",
                        "NON MI RECOVERIES",
                        "EXPENSES",
                        "Legal Costs",
                        "Maintenance and Preservation Costs",
                        "Taxes and Insurance",
                        "Miscellaneous Expenses",
                        "Actual Loss Calculation",
                        "Modification Cost"
                       ])

#with open("/home/sneha/Projects /Mid-terms/sample_svcg_1999.txt","r" ) as infile: data = infile.read() fields = data.split('|') print(data[0])

In [113]:
import pandas as pd
orig_file = pd.read_csv("sample_orig_2008.txt",sep="|", header=None,low_memory=False, 
               names = ["CREDIT SCORE",
                        "FIRST PAYMENT DATE",
                        "FIRST TIME HOMEBUYER FLAG",
                        "MATURITY DATE",
                        "METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION",
                        "MORTGAGE INSURANCE PERCENTAGE (MI %)",
                        "NUMBER OF UNITS",
                        "OCCUPANCY STATUS",
                        "ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)",
                        "ORIGINAL DEBT-TO-INCOME (DTI) RATIO",
                        "ORIGINAL UPB",
                        "ORIGINAL LOAN-TO-VALUE (LTV)",
                        "ORIGINAL INTEREST RATE",
                        "CHANNEL",
                        "PREPAYMENT PENALTY MORTGAGE (PPM) FLAG",
                        "PRODUCT TYPE",
                        "PROPERTY STATE",
                        "PROPERTY TYPE",
                        "POSTAL CODE",
                        "LOAN SEQUENCE NUMBER",
                        "LOAN PURPOSE",
                        "ORIGINAL LOAN TERM",
                        "NUMBER OF BORROWERS",
                        "SELLER NAME",
                        "SERVICER NAME",
                        "Super Conforming Flag"
                       ])

In [264]:
import pandas as pd
import re
df = pd.read_csv("sample_orig_2008.txt",sep="|",low_memory=False, names = ["CREDIT SCORE",
                        "FIRST PAYMENT DATE",
                        "FIRST TIME HOMEBUYER FLAG",
                        "MATURITY DATE",
                        "METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION",
                        "MORTGAGE INSURANCE PERCENTAGE (MI %)",
                        "NUMBER OF UNITS",
                        "OCCUPANCY STATUS",
                        "ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)",
                        "ORIGINAL DEBT-TO-INCOME (DTI) RATIO",
                        "ORIGINAL UPB",
                        "ORIGINAL LOAN-TO-VALUE (LTV)",
                        "ORIGINAL INTEREST RATE",
                        "CHANNEL",
                        "PREPAYMENT PENALTY MORTGAGE (PPM) FLAG",
                        "PRODUCT TYPE",
                        "PROPERTY STATE",
                        "PROPERTY TYPE",
                        "POSTAL CODE",
                        "LOAN SEQUENCE NUMBER",
                        "LOAN PURPOSE",
                        "ORIGINAL LOAN TERM",
                        "NUMBER OF BORROWERS",
                        "SELLER NAME",
                        "SERVICER NAME",
                        "Super Conforming Flag"
                       ])

In [271]:
#There are no channels that have spaces. We fill all spaces by 'NaN in the first step while making df1
#rough work cell! 
import  scipy.stats as stats
import numpy as np

#df['PREPAYMENT PENALTY MORTGAGE (PPM) FLAG'].fillna('Unknown', inplace=True)
df1 = df.replace(r'\s+', np.nan, regex=True)

#print (df['METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION'])
#col_mean =  np.nanmean (df['CREDIT SCORE'])
#df1['CREDIT SCORE'].fillna(df1['CREDIT SCORE'].median(), inplace=True)
#df1['PREPAYMENT PENALTY MORTGAGE (PPM) FLAG'].fillna("Unknown" ,inplace=True)

df1["Super Conforming Flag"].isnull().sum()

49920

In [272]:
import pandas as pd
import numpy as np

#has NAs and Spaces. First replace NA by "unknown" and later spaces by "greater>65%" as per definition
df['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].fillna('Unknown', inplace=True)


#replacing empty by NaN - Not working 
df1 = df.replace(r'\s+', np.nan, regex=True)
#counting number of Nans in column
(df1['CREDIT SCORE'].isnull().sum())
#replace columnn1 "Credit Score" by Mean
#df1['CREDIT SCORE'].fillna(df1['CREDIT SCORE'].mean(), inplace=True)
#replace columnn1 "Credit Score" by Median
#df1['CREDIT SCORE'].fillna(df1['CREDIT SCORE'].median(), inplace=True)

#replace Nan in "Number of Borrowers" with 0 (19 values replaced with 0)
df1['NUMBER OF BORROWERS'].fillna('0', inplace=True)

#replace Nan in "Super Conforming Flag" with 'N'()(49920 values replaced with 'N')
df1['Super Conforming Flag'].fillna('N', inplace=True)

#replace all spaces in "Occupancy Status" with 'U'
#There are  no blanks?
df1['OCCUPANCY STATUS'] = df1['OCCUPANCY STATUS'].replace({' ':'U'})

#replace all spaces in "Occupancy Status" with 'U'
df1['CHANNEL'].fillna("Unknown", inplace=True)

#split "first payment date" into two column-> "year and "month"
df1['FIRST PAYMENT YEAR']= df1['FIRST PAYMENT DATE'] // 100
df1['FIRST PAYMENT MONTH'] = df1['FIRST PAYMENT DATE'].astype(str).str[-2:].astype(np.int64)

#9th March
# replace NaN (7730) by Not Applicable 
df1['FIRST TIME HOMEBUYER FLAG'].fillna('Not Applicable', inplace=True)

#split Maturity date
df1['MATURITY YEAR']= df1['MATURITY DATE'] // 100
df1['MATURITY MONTH'] = df1['MATURITY DATE'].astype(str).str[-2:].astype(np.int64)

#Replace unknown METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION  - 7729  
df1['METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION'].fillna('Non-MSA/Unknown', inplace=True)

df1['MORTGAGE INSURANCE PERCENTAGE (MI %)'].fillna('Unknown', inplace=True)
#MORTGAGE INSURANCE PERCENTAGE doesnt seem to have  empty spaces. Please check?

#NUMBER OF UNITS doesnt seem to have  empty spaces. Please check?
df1['NUMBER OF UNITS'].fillna('Unknown', inplace=True)

#Ocuupancy Status
df1['OCCUPANCY STATUS'].fillna('Unknown', inplace=True)

#"ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)"
df1["ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)"].fillna('Unknown', inplace=True)

#ORIGINAL DEBT-TO-INCOME (DTI) RATIO - 56 unknowns, 1031 values replaced by "Greater than 65%
df1['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].fillna("Greater than 65%", inplace=True)

#ORIGINAL UPB - Replace by NA - No NaN here
df1['ORIGINAL UPB'].fillna("Unknown" ,inplace=True)

#ORIGINAL LOAN-TO-VALUE (LTV)
df1['ORIGINAL LOAN-TO-VALUE (LTV)'].fillna("Unknown" ,inplace=True)

#ORIGINAL INTEREST RATE
df1['ORIGINAL INTEREST RATE'].fillna("Unknown", inplace=True)

#PREPAYMENT PENALTY MORTGAGE (PPM) FLAG - 1039 values changed
df1['PREPAYMENT PENALTY MORTGAGE (PPM) FLAG'].fillna("Unknown" ,inplace=True)

#PROPERTY STATE
df1['PROPERTY STATE'].fillna("Unknown" ,inplace=True)

#POSTAL CODE
df1['POSTAL CODE'].fillna("Unknown" ,inplace=True)

#LOAN PURPOSE
df1['LOAN PURPOSE'].fillna("Unknown" ,inplace=True)

#ORIGINAL LOAN TERM - Data dictionary has conditions..Work on that??
df1['ORIGINAL LOAN TERM'].fillna("Unknown" ,inplace=True)


#NUMBER OF BORROWERS - 19 unknown
df1['NUMBER OF BORROWERS'].fillna("Unknown" ,inplace=True)

#SELLER NAME
df1['SELLER NAME'].fillna("Other Sellers" ,inplace=True)

#SERVICER NAME
df1['SERVICER NAME'].fillna("Other Servicers" ,inplace=True)

#Super Conforming Flag - 49920
df1['Super Conforming Flag'].fillna("N" ,inplace=True)

print(df1)

      CREDIT SCORE  FIRST PAYMENT DATE FIRST TIME HOMEBUYER FLAG  \
0              735              200803                         N
1              733              200803                         N
2              682              200803                         Y
3              705              200803                         N
4              747              200803                         N
5              813              200805                         N
6              643              200804                         N
7              787              200803                         N
8              745              200803                         N
9              767              200803                         N
10             708              200803                         N
11             703              200803                         N
12             651              200803                         N
13             700              200803                         N
14             803              200803                         Y
15             746              200803                         N
16             784              200803                         N
17             784              200804                         N
18             764              200803                         N
19             765              200803                         Y
20             678              200803                         N
21             802              200804                         N
22             768              200803                         N
23             657              200803                         N
24             814              200803                         N
25             767              200803                         N
26             754              200803                         N
27             730              200803                         Y
28             700              200803                         N
29             799              200804                         N
...            ...                 ...                       ...
49970          804              200903                         N
49971          795              200902                         N
49972          718              200902                         N
49973          641              200902                         N
49974          773              200902                         N
49975          760              200903                         N
49976          750              200902                         N
49977          802              200902                         N
49978          790              200902                         N
49979          679              200902            Not Applicable
49980          790              200902            Not Applicable
49981          722              200902            Not Applicable
49982          804              200902                         N
49983          762              200901                         N
49984          691              200902                         N
49985          696              200902                         N
49986          750              200902                         N
49987          737              200812                         N
49988          629              200812                         N
49989          743              200902                         N
49990          658              200902            Not Applicable
49991          761              200902                         N
49992          747              200903                         N
49993          799              200902                         N
49994          737              200910                         N
49995          721              200901                         N
49996          816              200905                         N
49997          741              200812                         N
49998          720              200902                         N
49999          771              200903                         N

       MATURITY DATE  \
0             203802
1             203802
2             203802
3             203802
4             203802
5             203804
6             203803
7             203802
8             203802
9             203802
10            203802
11            203802
12            203802
13            203802
14            203802
15            203802
16            203802
17            203803
18            203802
19            203802
20            203612
21            203803
22            203802
23            203802
24            203611
25            203802
26            203802
27            203802
28            203802
29            203803
...              ...
49970         203402
49971         202401
49972         202401
49973         202901
49974         202401
49975         202902
49976         203401
49977         202207
49978         202401
49979         202401
49980         202401
49981         202401
49982         202401
49983         203312
49984         202901
49985         202401
49986         202401
49987         201811
49988         202811
49989         202901
49990         202401
49991         202401
49992         202402
49993         202401
49994         202409
49995         202312
49996         202404
49997         201811
49998         202901
49999         203902

      METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION  \
0                                                  44180
1                                                  44180
2                                        Non-MSA/Unknown
3                                                  30460
4                                        Non-MSA/Unknown
5                                                  22020
6                                                  36420
7                                        Non-MSA/Unknown
8                                        Non-MSA/Unknown
9                                                  24340
10                                                 48900
11                                                 48900
12                                                 37764
13                                       Non-MSA/Unknown
14                                                 37900
15                                                 36980
16                                                 46540
17                                                 13644
18                                       Non-MSA/Unknown
19                                       Non-MSA/Unknown
20                                       Non-MSA/Unknown
21                                                 39540
22                                       Non-MSA/Unknown
23                                                 30460
24                                                 41180
25                                       Non-MSA/Unknown
26                                                 40380
27                                                 38060
28                                                 16974
29                                                 45820
...                                                  ...
49970                                              23900
49971                                    Non-MSA/Unknown
49972                                    Non-MSA/Unknown
49973                                              41980
49974                                    Non-MSA/Unknown
49975                                    Non-MSA/Unknown
49976                                              45104
49977                                              34740
49978                                              49180
49979                                              45104
49980                                              47894
49981                                              22900
49982                                    Non-MSA/Unknown
49983                                              20994
49984                                    Non-MSA/Unknown
49985                                              31084
49986                                              45940
49987                                    Non-MSA/Unknown
49988                                              11700
49989                                              24860
49990                                              38860
49991                                              41620
49992                                              42644
49993                                              26420
49994                                              26620
49995                                              19124
49996                                              23844
49997                                              45820
49998                                    Non-MSA/Unknown
49999                                              35004

       MORTGAGE INSURANCE PERCENTAGE (MI %)  NUMBER OF UNITS OCCUPANCY STATUS  \
0                                         0                1                O
1                                         0                1                O
2                                        30                1                O
3                                        12                1                O
4                                         0                1                O
5                                         0                1                O
6                                         0                1                O
7                                        25                1                O
8                                         0                1                O
9                                         0                1                O
10                                        0                1                O
11                                        0                1                O
12                                        0                1                O
13                                        0                1                O
14                                        0                1                O
15                                       30                1                O
16                                       30                1                O
17                                        0                1                O
18                                        0                1                O
19                                       35                1                O
20                                        0                1                O
21                                        0                1                O
22                                        0                1                O
23                                        0                1                O
24                                        0                1                O
25                                       25                1                O
26                                        0                1                O
27                                        0                1                O
28                                       25                1                O
29                                        0                1                O
...                                     ...              ...              ...
49970                                     0                1                O
49971                                     0                1                O
49972                                     0                1                O
49973                                     0                1                O
49974                                     0                1                O
49975                                     0                1                O
49976                                     0                1                O
49977                                     0                1                O
49978                                     0                1                O
49979                                     0                1                O
49980                                     0                1                I
49981                                     0                1                I
49982                                     0                1                O
49983                                     0                1                O
49984                                     0                1                O
49985                                     0                1                O
49986                                     0                1                O
49987                                     0                1                O
49988                                     0                1                O
49989                                    25                1                O
49990                                     0                1                O
49991                                     0                1                O
49992                                     0                1                O
49993                                     0                1                O
49994                                     0                1                O
49995                                     0                1                I
49996                                     0                1                O
49997                                     0                1                O
49998                                     0                1                O
49999                                     0                1                O

       ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)  \
0                                          87
1                                          70
2                                          93
3                                          85
4                                          58
5                                          77
6                                          80
7                                          90
8                                          52
9                                          76
10                                         39
11                                         33
12                                         53
13                                         80
14                                         42
15                                         95
16                                         95
17                                         70
18                                         80
19                                         99
20                                         80
21                                         75
22                                         50
23                                         32
24                                         40
25                                         87
26                                         59
27                                         80
28                                         89
29                                         80
...                                       ...
49970                                      75
49971                                      47
49972                                      66
49973                                      75
49974                                      80
49975                                      69
49976                                      49
49977                                      54
49978                                      58
49979                                      80
49980                                      70
49981                                      80
49982                                      49
49983                                      67
49984                                      65
49985                                      60
49986                                      75
49987                                      56
49988                                      69
49989                                      95
49990                                      75
49991                                      68
49992                                      79
49993                                      59
49994                                      44
49995                                      70
49996                                      46
49997                                      18
49998                                      69
49999                                      80

      ORIGINAL DEBT-TO-INCOME (DTI) RATIO      ...        LOAN PURPOSE  \
0                                      33      ...                   N
1                                      29      ...                   C
2                                      49      ...                   P
3                        Greater than 65%      ...                   C
4                                      37      ...                   N
5                                      36      ...                   C
6                                      20      ...                   C
7                                      25      ...                   P
8                                      32      ...                   N
9                                      31      ...                   N
10                                     21      ...                   C
11                                      8      ...                   P
12                                     54      ...                   C
13                                     25      ...                   P
14                                     14      ...                   P
15                                     48      ...                   P
16                                     29      ...                   P
17                                     38      ...                   N
18                                     42      ...                   C
19                                     33      ...                   P
20                                     32      ...                   N
21                                     24      ...                   N
22                                     57      ...                   N
23                                     28      ...                   C
24                                     15      ...                   N
25                                     12      ...                   N
26                                     38      ...                   P
27                                     61      ...                   P
28                                     30      ...                   N
29                                     36      ...                   P
...                                   ...      ...                 ...
49970                                  42      ...                   N
49971                                  44      ...                   C
49972                                  42      ...                   C
49973                                  28      ...                   C
49974                                  57      ...                   C
49975                                  39      ...                   P
49976                                  21      ...                   C
49977                                  25      ...                   N
49978                                  25      ...                   N
49979                                  42      ...                   C
49980                                  51      ...                   P
49981                                  40      ...                   P
49982                                  24      ...                   N
49983                                  40      ...                   N
49984                                  56      ...                   C
49985                                  41      ...                   C

7730