In [49]:
import pandas as pd
performance = pd.read_csv("G://sample_svcg_1999.txt",sep="|", header=None,low_memory=False, 
               names = ["LOAN SEQUENCE NUMBER", 
                        "MONTHLY REPORTING PERIOD", 
                        "CURRENT ACTUAL UPB", 
                        "CURRENT LOAN DELINQUENCY STATUS",
                        "LOAN AGE",
                        "REMAINING MONTHS TO LEGAL MATURITY",
                        "REPURCHASE FLAG",
                        "MODIFICATION FLAG",
                        "ZERO BALANCE CODE",
                        "ZERO BALANCE EFFECTIVE DATE",
                        "CURRENT INTEREST RATE",
                        "CURRENT DEFERRED UPB",
                        "DUE DATE OF LAST PAID INSTALLMENT",
                        "MI RECOVERIES",
                        "NET SALES PROCEEDS",
                        "NON MI RECOVERIES",
                        "EXPENSES",
                        "Legal Costs",
                        "Maintenance and Preservation Costs",
                        "Taxes and Insurance",
                        "Miscellaneous Expenses",
                        "Actual Loss Calculation",
                        "Modification Cost"
                       ])

#with open("/home/sneha/Projects /Mid-terms/sample_svcg_1999.txt","r" ) as infile: data = infile.read() fields = data.split('|') print(data[0])

In [50]:
import pandas as pd
orig_file = pd.read_csv("sample_orig_2008.txt",sep="|", header=None,low_memory=False, 
               names = ["CREDIT SCORE",
                        "FIRST PAYMENT DATE",
                        "FIRST TIME HOMEBUYER FLAG",
                        "MATURITY DATE",
                        "METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION",
                        "MORTGAGE INSURANCE PERCENTAGE (MI %)",
                        "NUMBER OF UNITS",
                        "OCCUPANCY STATUS",
                        "ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)",
                        "ORIGINAL DEBT-TO-INCOME (DTI) RATIO",
                        "ORIGINAL UPB",
                        "ORIGINAL LOAN-TO-VALUE (LTV)",
                        "ORIGINAL INTEREST RATE",
                        "CHANNEL",
                        "PREPAYMENT PENALTY MORTGAGE (PPM) FLAG",
                        "PRODUCT TYPE",
                        "PROPERTY STATE",
                        "PROPERTY TYPE",
                        "POSTAL CODE",
                        "LOAN SEQUENCE NUMBER",
                        "LOAN PURPOSE",
                        "ORIGINAL LOAN TERM",
                        "NUMBER OF BORROWERS",
                        "SELLER NAME",
                        "SERVICER NAME",
                        "Super Conforming Flag"
                       ])

In [51]:
import pandas as pd
import re
df = pd.read_csv("sample_orig_2008.txt",sep="|",low_memory=False, names = ["CREDIT SCORE",
                        "FIRST PAYMENT DATE",
                        "FIRST TIME HOMEBUYER FLAG",
                        "MATURITY DATE",
                        "METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION",
                        "MORTGAGE INSURANCE PERCENTAGE (MI %)",
                        "NUMBER OF UNITS",
                        "OCCUPANCY STATUS",
                        "ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)",
                        "ORIGINAL DEBT-TO-INCOME (DTI) RATIO",
                        "ORIGINAL UPB",
                        "ORIGINAL LOAN-TO-VALUE (LTV)",
                        "ORIGINAL INTEREST RATE",
                        "CHANNEL",
                        "PREPAYMENT PENALTY MORTGAGE (PPM) FLAG",
                        "PRODUCT TYPE",
                        "PROPERTY STATE",
                        "PROPERTY TYPE",
                        "POSTAL CODE",
                        "LOAN SEQUENCE NUMBER",
                        "LOAN PURPOSE",
                        "ORIGINAL LOAN TERM",
                        "NUMBER OF BORROWERS",
                        "SELLER NAME",
                        "SERVICER NAME",
                        "Super Conforming Flag"
                       ])

In [47]:
#There are no channels that have spaces. We fill all spaces by 'NaN in the first step while making df1
#rough work cell! 
import  scipy.stats as stats
import numpy as np

#df['PREPAYMENT PENALTY MORTGAGE (PPM) FLAG'].fillna('Unknown', inplace=True)
df1 = df.replace(r'\s+', np.nan, regex=True)

#print (df['METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION'])
#col_mean =  df1['CREDIT SCORE'].mean()
#print(col_mean)
#print(col_mean)
#df1['CREDIT SCORE'].fillna(df1["CREDIT SCORE"].astype('int').mean(), inplace=True)
#df1['PREPAYMENT PENALTY MORTGAGE (PPM) FLAG'].fillna("Unknown" ,inplace=True)

#df1["Super Conforming Flag"].isnull().sum()

#df1 = df1["CREDIT SCORE"].isnull().sum()
#df1["CREDIT"] = df1["CREDIT"].replace(0, np.NaN)

#print(df1["CREDIT"].mean())

#type(df1["CREDIT SCORE"])
#df1["Mean"] = df1["CREDIT SCORE"].mean().astype(np.int64)
#type(df1["Mean"])

In [120]:
import pandas as pd
import numpy as np

#has NAs and Spaces. First replace NA by "unknown" and later spaces by "greater>65%" as per definition
df['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].fillna('Unknown', inplace=True)


#replacing empty by NaN - Not working 
df1 = df.replace(r'\s+', np.nan, regex=True)
#counting number of Nans in column
(df1['CREDIT SCORE'].isnull().sum())
#replace columnn1 "Credit Score" by Mean
#df1['CREDIT SCORE'].fillna(df1['CREDIT SCORE'].mean(), inplace=True)
#replace columnn1 "Credit Score" by Median
#df1['CREDIT SCORE'].fillna(df1['CREDIT SCORE'].median(), inplace=True)

#replace Nan in "Number of Borrowers" with 0 (19 values replaced with 0)
df1['NUMBER OF BORROWERS'].fillna('0', inplace=True)

#replace Nan in "Super Conforming Flag" with 'N'()(49920 values replaced with 'N')
df1['Super Conforming Flag'].fillna('N', inplace=True)

#replace all spaces in "Occupancy Status" with 'U'
#There are  no blanks?
df1['OCCUPANCY STATUS'] = df1['OCCUPANCY STATUS'].replace({' ':'U'})

#replace all spaces in "Channel" with 'Unknown'
df1['CHANNEL'].fillna("Unknown", inplace=True)

#split "first payment date" into two column-> "year and "month"
df1['FIRST PAYMENT YEAR']= df1['FIRST PAYMENT DATE'] // 100
df1['FIRST PAYMENT MONTH'] = df1['FIRST PAYMENT DATE'].astype(str).str[-2:].astype(np.int64)

#9th March
# replace NaN (7730) by Not Applicable 
df1['FIRST TIME HOMEBUYER FLAG'].fillna('Not Applicable', inplace=True)

#split Maturity date
df1['MATURITY YEAR']= df1['MATURITY DATE'] // 100
df1['MATURITY MONTH'] = df1['MATURITY DATE'].astype(str).str[-2:].astype(np.int64)

#Replace unknown METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION  - 7729  
df1['METROPOLITAN STATISTICAL AREA (MSA) OR METROPOLITAN DIVISION'].fillna('Non-MSA/Unknown', inplace=True)

df1['MORTGAGE INSURANCE PERCENTAGE (MI %)'].fillna('Unknown', inplace=True)
#MORTGAGE INSURANCE PERCENTAGE doesnt seem to have  empty spaces. Please check?

#NUMBER OF UNITS doesnt seem to have  empty spaces. Please check?
df1['NUMBER OF UNITS'].fillna('Unknown', inplace=True)

#Ocuupancy Status
df1['OCCUPANCY STATUS'].fillna('Unknown', inplace=True)

#"ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)"
df1["ORIGINAL COMBINED LOAN-TO-VALUE (CLTV)"].fillna('Unknown', inplace=True)

#ORIGINAL DEBT-TO-INCOME (DTI) RATIO - 56 unknowns, 1031 values replaced by "Greater than 65%
df1['ORIGINAL DEBT-TO-INCOME (DTI) RATIO'].fillna("Greater than 65%", inplace=True)

#ORIGINAL UPB - Replace by NA - No NaN here
df1['ORIGINAL UPB'].fillna("Unknown" ,inplace=True)

#ORIGINAL LOAN-TO-VALUE (LTV)
df1['ORIGINAL LOAN-TO-VALUE (LTV)'].fillna("Unknown" ,inplace=True)

#ORIGINAL INTEREST RATE
df1['ORIGINAL INTEREST RATE'].fillna("Unknown", inplace=True)

#PREPAYMENT PENALTY MORTGAGE (PPM) FLAG - 1039 values changed
df1['PREPAYMENT PENALTY MORTGAGE (PPM) FLAG'].fillna("Unknown" ,inplace=True)

#PROPERTY STATE
df1['PROPERTY STATE'].fillna("Unknown" ,inplace=True)

#POSTAL CODE
df1['POSTAL CODE'].fillna("Unknown" ,inplace=True)

#LOAN PURPOSE
df1['LOAN PURPOSE'].fillna("Unknown" ,inplace=True)

#ORIGINAL LOAN TERM - Data dictionary has conditions..Work on that??
df1['ORIGINAL LOAN TERM'].fillna("Unknown" ,inplace=True)

#NUMBER OF BORROWERS - 19 unknown
df1['NUMBER OF BORROWERS'].fillna("Unknown" ,inplace=True)

#SELLER NAME
df1['SELLER NAME'].fillna("Other Sellers" ,inplace=True)

#SERVICER NAME
df1['SERVICER NAME'].fillna("Other Servicers" ,inplace=True)

#Super Conforming Flag - 49920
df1['Super Conforming Flag'].fillna("N" ,inplace=True)


#print(df1)

             SELLER NAME NUMBER OF BORROWERS  count
0            AMTRUSTBANK                   1    570
1            AMTRUSTBANK                   2    520
2            AMTRUSTBANK                   0      1
3       BANKOFAMERICA,NA                   1   1873
4       BANKOFAMERICA,NA                   2   1902
5   BRANCHBANKING&TRUSTC                   1    879
6   BRANCHBANKING&TRUSTC                   2   1070
7   BRANCHBANKING&TRUSTC                   0      1
8    CHASEHOMEFINANCELLC                   1   2239
9    CHASEHOMEFINANCELLC                   2   2326
10   CHASEHOMEFINANCELLC                   0      4
11      CITIMORTGAGE,INC                   1   1358
12      CITIMORTGAGE,INC                   2   1324
13      CITIMORTGAGE,INC                   0      1
14           COUNTRYWIDE                   1   1959
15           COUNTRYWIDE                   2   2049
16        FIFTHTHIRDBANK                   1    521
17        FIFTHTHIRDBANK                   2    557
18  FIRSTHORIZONHOMELOAN                   1    554
19  FIRSTHORIZONHOMELOAN                   2    650
20  FLAGSTARCAPITALMARKE                   1    474
21  FLAGSTARCAPITALMARKE                   2    412
22      GMACMORTGAGE,LLC                   1    819
23      GMACMORTGAGE,LLC                   2    865
24  METLIFEHOMELOANS,ADI                   1    158
25  METLIFEHOMELOANS,ADI                   2    150
26        NATLCITYMTGECO                   1    106
27        NATLCITYMTGECO                   2    118
28        NATLCITYMTGECO                   0      1
29         Other Sellers                   1   3063
30         Other Sellers                   2   4322
31         Other Sellers                   0      3
32  PROVIDENTFUNDINGASSO                   1     98
33  PROVIDENTFUNDINGASSO                   2    111
34  SUNTRUSTMORTGAGE,INC                   1     69
35  SUNTRUSTMORTGAGE,INC                   2     62
36  TAYLOR,BEAN&WHITAKER                   1   1754
37  TAYLOR,BEAN&WHITAKER                   2   1616
38              USBANKNA                   1   1670
39              USBANKNA                   2   2242
40              USBANKNA                   0      2
41  WACHOVIAMORTGAGE,FSB                   1    260
42  WACHOVIAMORTGAGE,FSB                   2    290
43  WASHINGTONMUTUALBANK                   1    914
44  WASHINGTONMUTUALBANK                   2   1005
45  WASHINGTONMUTUALBANK                   0      1
46     WELLSFARGOBANK,NA                   1   4254
47     WELLSFARGOBANK,NA                   2   4798
48     WELLSFARGOBANK,NA                   0      5
             SELLER NAME  unique_number_of_sellers
0            AMTRUSTBANK                         3
1       BANKOFAMERICA,NA                         2
2   BRANCHBANKING&TRUSTC                         3
3    CHASEHOMEFINANCELLC                         3
4       CITIMORTGAGE,INC                         3
5            COUNTRYWIDE                         2
6         FIFTHTHIRDBANK                         2
7   FIRSTHORIZONHOMELOAN                         2
8   FLAGSTARCAPITALMARKE                         2
9       GMACMORTGAGE,LLC                         2
10  METLIFEHOMELOANS,ADI                         2
11        NATLCITYMTGECO                         3
12         Other Sellers                         3
13  PROVIDENTFUNDINGASSO                         2
14  SUNTRUSTMORTGAGE,INC                         2
15  TAYLOR,BEAN&WHITAKER                         2
16              USBANKNA                         3
17  WACHOVIAMORTGAGE,FSB                         2
18  WASHINGTONMUTUALBANK                         3
19     WELLSFARGOBANK,NA                         3
             SELLER NAME  Number of Borrowers per seller
0            AMTRUSTBANK                            1091
1       BANKOFAMERICA,NA                            3775
2   BRANCHBANKING&TRUSTC                            1950
3    CHASEHOMEFINANCELLC                            4569
4       CITIMORTGAGE,INC                            2683
5            COUNTRYWIDE                            4008
6         FIFTHTHIRDBANK                            1078
7   FIRSTHORIZONHOMELOAN                            1204
8   FLAGSTARCAPITALMARKE                             886
9       GMACMORTGAGE,LLC                            1684
10  METLIFEHOMELOANS,ADI                             308
11        NATLCITYMTGECO                             225
12         Other Sellers                            7388
13  PROVIDENTFUNDINGASSO                             209
14  SUNTRUSTMORTGAGE,INC                             131
15  TAYLOR,BEAN&WHITAKER                            3370
16              USBANKNA                            3914
17  WACHOVIAMORTGAGE,FSB                             550
18  WASHINGTONMUTUALBANK                            1920
19     WELLSFARGOBANK,NA                            9057
  OCCUPANCY STATUS  Number of Occupancy Status
0                I                        3873
1                O                       43419
2                S                        2708
  Super Conforming Flag  Count of Super Conforming Flag
0                     N                            49920
1                     Y                               80
   ORIGINAL UPB  Count of Original UPB
6         18000                      7
5         17000                      5
8         20000                      5
3         15000                      4
4         16000                      3
7         19000                      3
9         21000                      2
0         11000                      1
1         12000                      1
2         14000                      1
          SERVICER NAME  Top 10 SERVICER NAME
2      BANKOFAMERICA,NA                  6261
5      CITIMORTGAGE,INC                  2478
3  BRANCHBANKING&TRUSTC                  1951
7        FIFTHTHIRDBANK                   948
0              ALLYBANK                   660
8  FLAGSTARCAPITALMARKE                   594
4         CENTRALMTGECO                   502
9      GMACMORTGAGE,LLC                   274
6           COUNTRYWIDE                   132
1           AMTRUSTBANK                   117
            SELLER NAME  Top 10 SELLER NAME
3   CHASEHOMEFINANCELLC                4569
5           COUNTRYWIDE                4008
1      BANKOFAMERICA,NA                3775
4      CITIMORTGAGE,INC                2683
2  BRANCHBANKING&TRUSTC                1950
9      GMACMORTGAGE,LLC                1684
7  FIRSTHORIZONHOMELOAN                1204
0           AMTRUSTBANK                1091
6        FIFTHTHIRDBANK                1078
8  FLAGSTARCAPITALMARKE                 886
   PROPERTY STATE  unique_number_of_property_state
0              AK                              135
1              AL                              681
2              AR                              329
3              AZ                             1214
4              CA                             5720
5              CO                             1211
6              CT                              532
7              DC                              111
8              DE                              176
9              FL                             2554
10             GA                             1635
11             GU                               17
12             HI                              189
13             IA                              437
14             ID                              347
15             IL                             3034
16             IN                             1049
17             KS                              450
18             KY                              732
19             LA                              529
20             MA                             1313
21             MD                             1111
22             ME                              261
23             MI                             1403
24             MN                             1074
25             MO                             1398
26             MS                              243
27             MT                              181
28             NC                             1881
29             ND                               87
30             NE                              236
31             NH                              276
32             NJ                             1348
33             NM                              332
34             NV                              468
35             NY                             1748
36             OH                             1305
37             OK                              512
38             OR                              976
39             PA                             1677
40             PR                              139
41             RI                              161
42             SC                              867
43             SD                               78
44             TN                              991
45             TX                             3028
46             UT                              892
47             VA                             1480
48             VI                                2
49             VT                              163
50             WA                             1654
51             WI                             1382
52             WV                              171
53             WY                               80
  PROPERTY STATE  Top 10 Property State
4             CA                   5720
9             FL                   2554
3             AZ                   1214
5             CO                   1211
1             AL                    681
6             CT                    532
2             AR                    329
8             DE                    176
0             AK                    135
7             DC                    111
  FIRST TIME HOMEBUYER FLAG  First time Home Buyers
0                         N                   36773
1            Not Applicable                    7730
2                         Y                    5497

C:\Users\taj\Anaconda3\lib\site-packages\pandas\core\internals.py:4417: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  comp = (nn == nn_at)

In [ ]:

#SUMMARY METRICS

# Grouping by Seller Name and Number of Borrowers to get a list of unique Seller Name and Number of Borrowers pair
d= pd.DataFrame({'count' : df1.groupby( [ "SELLER NAME", "NUMBER OF BORROWERS"] ).size()}).reset_index()
print(d)
# Grouping by Seller Name to get the count of unique sellers
d1= pd.DataFrame({'unique_number_of_sellers' : d.groupby( ["SELLER NAME"] ).size()}).reset_index()
print(d1)     
        
#Count of borrowers for seller        
d2 = df1.groupby(['SELLER NAME'])['NUMBER OF BORROWERS'].count().reset_index(name="Number of Borrowers per seller")
print(d2) 

#Count of Occupancy Status        
d3 = df1.groupby(['OCCUPANCY STATUS'])['OCCUPANCY STATUS'].count().reset_index(name="Number of Occupancy Status")
print(d3) 

#Count of Super Conforming Flag       
d4 = df1.groupby(['Super Conforming Flag'])['Super Conforming Flag'].count().reset_index(name="Count of Super Conforming Flag ")
print(d4) 

#Top 10 Original UPB       
d5 = df1.groupby(['ORIGINAL UPB'])['ORIGINAL UPB'].count().head(10).reset_index(name="Count of Original UPB").sort_values(['Count of Original UPB'], ascending=False)
print(d5) 

#Top 10 most used Servicer Name       
d6 = df1.groupby(['SERVICER NAME'])['SERVICER NAME'].count().head(10).reset_index(name="Top 10 SERVICER NAME").sort_values(['Top 10 SERVICER NAME'], ascending=False)
print(d6)

#Top 10 most used Seller Name       
d7 = df1.groupby(['SELLER NAME'])['SELLER NAME'].count().head(10).reset_index(name="Top 10 SELLER NAME").sort_values(['Top 10 SELLER NAME'], ascending=False)
print(d7)

# Retrieving Unique Number of property State
d9= pd.DataFrame({'unique_number_of_property_state' : df1.groupby( ["PROPERTY STATE"] ).size()}).reset_index()
print(d9)  

# Retrieving Top 10 property States based on popularity
d10 = df1.groupby(['PROPERTY STATE'])['PROPERTY STATE'].count().head(10).reset_index(name="Top 10 Property State").sort_values(['Top 10 Property State'], ascending=False)
print(d10)  

# Retrieving First time Home Buyers
d11 = df1.groupby(['FIRST TIME HOMEBUYER FLAG'])['FIRST TIME HOMEBUYER FLAG'].count().reset_index(name="First time Home Buyers").sort_values(['First time Home Buyers'], ascending=False)
print(d11)

7730